<section id="fin">
    <p class="legal">
        <a href="www.houoop.com">&copy; HOUOOP</a>
    </p>
</section>
<section id="chat-bar">
<span class="messageIcoBtn" data-bind="click:toggleMessager,css:{'active-icobtn':base.status()==='open'}"></span>
<span id="broadcast" data-bind="broadcast:base.messageData,visible:base.status()==='close'"></span>
    <div id="messager" data-bind="style:{display:base.status()=='open'?'block':'none'}">
        <div class="container">
            <div class="messager-title">当前在线
                <span data-bind="text:base.onlineUser().length"></span> 人</div>
            <div class="messages" data-bind="foreach:base.messageData">
                <div class="message" data-bind="css:{'message-recieve':type!=='send'}">
                    <p class="message-content" data-bind="html:content"></p>
                    <span class="message-from" data-bind="text:from"></span>
                    <span class="message-time" data-bind="text:time"></span>
                </div>
            </div>
            <div class="messager-footer">
                <input id="message-inputbox" name="" type="text" placeholder="Type A Message" data-bind="event:{keyup:submitMessage}"/>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/assets/js/knockout-2.2.1.js"></script>
<script type="text/javascript" src="/assets/js/socket.io.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/messager.js"></script>
</body>

</html>

