<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/assets/img/favicon.ico">
        <meta charset="utf-8">
	<meta name="google-site-verification" content="o7XkyH1a_K13yFA15nGREDojyYBrrDvqLVckpUCfIak" />
        <title>HOUOOP's BLOG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/main.css" media="screen" rel="stylesheet" type="text/css" />
        <script>
            (function(){if(!/*@cc_on!@*/0)return;var e ="abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i])}})();
        </script>
    </head>
    <body>
