<meta charset="utf-8">
<title>
    {{#if post.title}}
      {{post.title}} - Houoop's Blog
    {{/if}}
    {{#unless post.title}}
      Houoop's Blog -Houoop的博客，记录学习与生活
    {{/unless}}
</title>
<meta name="author" content="houoop">
<meta name="descripton" content="Houoop的个人博客">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/atom.xml" rel="alternate" title="Allocator" type="application/atom+xml">
<link rel="canonical" href="">
<link href="/assets/img/favicon.ico" rel="shortcut icon">
<link href="/assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>