<header id="sidebar">
    <a href="/index.html"><img id="logo" src="/assets/img/houoop.png"></a>
    <h1>
        <a href="/index.html">houoop</a>
    </h1>
    <h2>
        <a href="/index.html">Front-End Engineer</a>
    </h2>
    <h3>
        Location:Shanghai
    </h3>
    <ul id="user_nav">
        <li class="website">
            <a href="http://www.houoop.com">houoop.com</a>
        </li>
        <li class="link weibo ">
            <a href="http://weibo.com/houoop">@houoop</a>
        </li>
        <li class="link email">
            <a href="#">rnkeer@gmail.com</a>
        </li>
        <li class="link feed">
            <a href="/feed">feed</a>
        </li>
    </ul>
</header>

