<div class="left-col">
    <header id="header" class="inner">
        <div class="profilepic">
            <a href="/">
            <img src="/assets/img/houoop.png" alt="Profile Picture" style="width: 160px;"></div>
            </a>
        <h1>
            <a href="/">Houoop</a>
        </h1>
        <nav id="main-nav">
            <ul class="main">
                <li>
                    <a href="/">博客</a>
                </li>
                <li>
                    <a href="/blog/archives">文章列表</a>
                </li>
            </ul>
        </nav>
        <br/>        
        <h3 class="alignleft">记录学习与生活</h3>
        <br>
        <nav id="sub-nav" class="alignright">
            <div class="social">

                <a class="google" href="mailto:rnkeer@gmail.com" title="GMail">GMail</a>

                <a class="sina" href="http://twitter.com/houoop" title="Weibo">Weibo</a>

                <a class="github" href="https://github.com/houoop" title="GitHub">GitHub</a>

                <a class="rss" href="/atom.xml" title="RSS">RSS</a>

            </div>
        </nav>

    </header>
</div>