body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px; }
 
body > *:first-child {
  margin-top: 0 !important; }
body > *:last-child {
  margin-bottom: 0 !important; }
 
a {
  color: #4183C4; text-decoration: none;}
a.absent {
  color: #cc0000; }
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }
 
h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }
 
h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
  text-decoration: none; }
 
h1 tt, h1 code {
  font-size: inherit; }
 
h2 tt, h2 code {
  font-size: inherit; }
 
h3 tt, h3 code {
  font-size: inherit; }
 
h4 tt, h4 code {
  font-size: inherit; }
 
h5 tt, h5 code {
  font-size: inherit; }
 
h6 tt, h6 code {
  font-size: inherit; }
 
h1 {
  font-size: 28px;
  color: black; }
 
h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }
 
h3 {
  font-size: 18px; }
 
h4 {
  font-size: 16px; }
 
h5 {
  font-size: 14px; }
 
h6 {
  color: #777777;
  font-size: 14px; }
 
p, blockquote, ul, ol, dl, li, table, pre {
  margin: 15px 0; }
 
hr {
  background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }
 
body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }
 
a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }
 
h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }
 
li p.first {
  display: inline-block; }
 
ul, ol {
  padding-left: 30px; }
 
ul :first-child, ol :first-child {
  margin-top: 0; }
 
ul :last-child, ol :last-child {
  margin-bottom: 0; }
 
dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }
 
blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }
 
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
 
img {
  max-width: 100%; }
 
span.frame {
  display: block;
  overflow: hidden; }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  span.frame span img {
    display: block;
    float: left; }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  span.align-center span img {
    margin: 0 auto;
    text-align: center; }
span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  span.align-right span img {
    margin: 0;
    text-align: right; }
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }
 
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }
 
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }
 
.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
 
pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }

#logo {
    width: 215px;
    border-top: rgb(167,167,167);
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

header#sidebar {
    position: fixed;
    width: 26%;
    padding-left: 3%;
    padding-top: 30px;
    z-index: 1
}

section#river {
    position: relative;
    min-height: 570px;
    padding-left: 50px;
    margin-left: 26%;
    border-left: 1px solid #e3e3e3;
    z-index: 10;
    background-color: #fff
}

header#sidebar h2,header#sidebar h1 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #000;
    font-family: 'freight-sans-pro','helvetica',sans-serif
}

header#sidebar h2,header#sidebar h1,header#sidebar h3 {
    width: 75%
}

header#sidebar h1 {
    margin-top: 15px;
    font-size: 30px;
    line-height: 30px
}

header#sidebar h1 a {
    color: #000
}

header#sidebar h2 {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase
}

header#sidebar h2 a {
    color: #585858
}

header#sidebar h3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #585c60;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 10px
}

ul#user_nav {
    position: relative;
    margin-top: 25px
}

ul#user_nav li a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    border: 4px solid #f8f8f8;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    color: #999;
    margin-left: -30px;
    font-weight: 600;
    background-color: #fff
}

ul#user_nav li a:hover {
    color: #fff;
    background-color: #000;
    border-color: #000
}

header#begin {
    padding: 40px 0 40px 40px
}

header#begin time {
    display: block;
    font-family: "freight-sans-pro",sans-serif;
    position: relative;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 23px
}

a.contents:hover {
    opacity: 1
}

article.post {
    display: block;
    position: relative;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #e2e2e2;
    min-height: 130px;
    overflow-x: hidden
}

article h1,article h2,article h3,article h4,article h5,article h6,article p,article blockquote {
    max-width: 550px;
    padding-right: 100px
}

article.post>p:nth-child(2) {
    font-size: 18px;
    line-height: 26px;
    color: #373737
}

article blockquote p,article blockquote blockquote,article blockquote blockquote p,article blockquote blockquote blockquote,article blockquote blockquote blockquote p {
    padding-right: 0;
    margin-right: 0
}

article.post h2 a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #CCC;
    font-family: "freight-sans-pro",sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased
}

article h2 a.no-link {
    border: none;
    font-size: 28px
}

article h2 a.anchor {
    border-bottom: 0;
    margin-left: 10px
}


article a {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    color: #000
}

aside.read_next {
    width: auto;
    display: block;
    position: relative;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #e3e3e3
}

aside.read_next a {
    display: block
}

aside.read_next h4 {
    font-size: 14px;
    font-family: "freight-sans-pro",sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #ababab;
    margin: 0;
    margin-bottom: 5px
}

span.arrow_down {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    top: -3px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #ababab
}

aside.read_next a:hover h4,aside.read_next a:hover h3 {
    color: #000;
    border-color: #000
}

aside.read_next a:hover span.arrow_down {
    border-top: 5px solid #000
}

aside.read_next h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    color: #515151;
    text-decoration: none;
    border-bottom: 1px solid #CCC;
    font-family: "freight-sans-pro",sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    padding-bottom: 6px;
    -webkit-font-smoothing: antialiased;
    margin-left: -3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

h1.notification {
    padding-left: 50px;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 300px
}

div#notice {
    display: block;
    padding: 35px;
    margin-left: -1px;
    color: #fff;
    font-size: 23px;
    line-height: 30px;
    font-weight: 600;
    background-color: #6faf0a
}

div#notice span {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900
}

section.preview header#begin h2 {
    color: #000;
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 0;
    line-height: 35px;
    margin-top: 20px;
    font-family: "freight-sans-pro",sans-serif
}

section.preview header#begin a.live_link {
    border-bottom: 1px solid #ccc
}

section.preview header#begin h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    width: auto;
    min-width: 0;
    max-width: 80%
}

h2.page_title {
    margin-left: 40px;
    color: #000;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 50px
}

.bleed,span.bleed,div.bleed,p.bleed,img.bleed {
    margin-left: -50px;
    display: block
}

#svbtle_linkback {
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-size: 17px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: "freight-sans-pro",sans-serif;
    font-weight: 900;
    line-height: 19px;
    background-color: #fff;
    padding: 10px;
    height: 30px;
    z-index: 0;
    border-radius: 5px;
    color: #000
}

span.logo_square {
    position: relative;
    background-color: #000;
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 3px
}
.content-title{
    display: block;
}
.content-title h1{
    color: #4183c4;
    cursor: pointer;
}
span.logo_circle {
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 4px;
    text-indent: -9999px
}

nav.pagination {
    padding: 40px;
    border-top: 1px solid #e2e2e2;
    padding-bottom: 60px
}

nav.pagination span.next a,nav.pagination span.prev a {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid
}

nav.pagination span {
    display: none
}

nav.pagination span.next {
    display: block;
    float: right
}

nav.pagination span.prev {
    display: block;
    float: left
}

nav.pagination span.next a:hover,nav.pagination span.prev a:hover {
    color: #000;
    border-color: #000
}

section#fin {
    clear: both;
    padding-top: 0;
    margin-bottom: 0
}

section#fin a {
    margin-left: 0;
    clear: both;
    display: inline-block;
    margin-top: 20px
}

p.legal {
    margin-bottom: 0;
    margin-top: 0;
    border-top: 1px solid #e2e2e2;
    margin-left: 0;
    padding-bottom: 30px;
    font-weight: 400;
    padding-left: 20px
}

p.legal a {
    font-size: 14px;
    color: #ccc;
    -webkit-font-smoothing: antialiased
}

@media all and (device-width:768px) and (device-height:1024px),only all and (max-height:650px) {
    header#sidebar {
        position: absolute
    }

    #svbtle_linkback {
        top: 700px;
        position: absolute
    }
}

@media all and (min-width:750px) and (max-width:900px) {
    figure.logo.medium {
        width: 120px;
        height: 120px
    }

    figure.logo.medium a {
        border-width: 5px;
        width: 95px;
        height: 95px;
        top: 8px;
        left: 8px
    }

    header#sidebar h1 {
        font-size: 25px;
        line-height: 25px
    }

    header#sidebar h2 {
        font-size: 13px
    }

    header#sidebar h3 {
        font-size: 14px
    }
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait),all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
    header#sidebar {
        position: fixed
    }

    #svbtle_linkback {
        bottom: 10px;
        left: 5px;
        position: fixed;
        top: auto
    }
}

@media all and (max-width:750px) {
    header#sidebar {
        display: block;
        position: relative;
        min-height: 0;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        float: none;
        text-align: center
    }

    header#sidebar h1,header#sidebar h2,header#sidebar h3 {
        max-width: 70%;
        width: auto;
        margin: 0 auto
    }

    header#sidebar h2 {
        margin-top: 2px
    }

    header#sidebar h1 {
        margin-top: 5px
    }

    header#sidebar h3 {
        margin-top: 5px;
        font-size: 15px;
        margin-bottom: 15px
    }

    header#sidebar figure.logo {
        margin: 0 auto;
        position: relative;
        left: auto;
        right: auto;
        margin-top: 20px
    }

    section#river {
        margin-left: 0;
        border-left: none;
        margin-top: 15px
    }

    ul#user_nav {
        margin: 0
    }

    ul#user_nav li {
        display: inline;
        margin: 0;
        margin-right: 0;
        margin-left: 0
    }

    ul#user_nav li.feed {
        display: none
    }

    ul#user_nav li a {
        margin: 0;
        margin-bottom: 5px;
        margin-right: 3px
    }

    #svbtle_linkback {
        top: -10px;
        right: 5px;
        left: auto;
        position: absolute
    }

    #svbtle_linkback span.svbtle {
        display: none
    }

    header#begin {
        display: none
    }

    section.preview header#begin {
        display: block;
        border-top: 1px solid #e2e2e2
    }

    section.preview header#begin {
        padding: 20px;
        padding-bottom: 5px;
        padding-top: 5px
    }

    section.preview header#begin h2 {
        font-size: 22px;
        margin-bottom: 0;
        line-height: 20px
    }

    section.preview header#begin h4 {
        font-size: 14px
    }

    article h1,article h2,article h3,article h4,article h5,article h6,article p,article blockquote {
        max-width: 100%;
        padding-right: 0
    }

    article.post {
        padding: 60px;
        padding-top: 30px
    }

    body section#river article pre code {
        margin: 0;
        padding-left: 60px;
        margin-left: -60px;
        padding-right: 60px;
        width: 100%
    }

    article hr {
        width: 80%;
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 30px
    }

    article blockquote p,article blockquote h2,article blockquote h1,article blockquote h3,article blockquote h4,article blockquote h5,article blockquote h6 {
        padding-left: 15px
    }

    article hr,article p,article h2,article h1,article h3,article h4,article h5,article h6,article blockquote p,article blockquote h2,article blockquote h1,article blockquote h3,article blockquote h4,article blockquote h5,article blockquote h6 {
        max-width: 100%
    }

    article blockquote {
        margin-left: 0;
        max-width: none;
        min-width: 0;
        margin-right: 0;
        padding: 0
    }

    article blockquote blockquote {
        margin-left: 10px;
        margin-right: 0
    }

    article blockquote p, {
        padding-left: 15px
    }

    article blockquote ul,article blockquote ol {
        margin-left: 50px
    }

    article.post ol {
        padding-right: 10px
    }

    section#river article pre code {
        width: auto;
        margin: 0;
        padding-left: 25px;
        margin-left: -20px;
        width: 100%
    }

    section#river article p code {
        padding-left: 5px
    }

    article blockquote pre code {
        margin: 0;
        width: 80%;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 1px solid #ccc;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px
    }

    article ul,article ol {
        margin-left: 20px;
        padding-left: 0
    }

    article ul p,article ol p {
        padding-left: 0
    }

    article.post ul {
        max-width: auto;
        min-width: 0;
        padding-right: 10px
    }

    nav.pagination {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media all and (max-width:620px) {
    section#river article.post h2 a {
        font-size: 24px
    }

    article.post>p:nth-child(2) {
        font-size: 15px;
        line-height: 23px
    }

    header#sidebar figure.logo {
        width: 114px;
        height: 114px
    }

    header#sidebar figure.logo a {
        top: 7px;
        left: 7px;
        width: 90px;
        height: 90px
    }

    article.post {
        padding-top: 20px
    }

    article img {
        width: 100%
    }

    section#river article p img,section#river article p iframe,section#river article iframe,section#river article p object,section#river video,section#river article p video {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        float: none
    }

    article iframe,article object {
        min-height: 250px;
        min-width: 0
    }

    .bleed,span.bleed,div.bleed,p.bleed,img.bleed {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0;
        margin: 0
    }
}

@media all and (max-width:560px) {
    article.post {
        padding: 20px;
        padding-left: 15px;
        padding-right: 10px
    }

    aside.read_next {
        display: block;
        position: relative;
        width: auto;
        padding-left: 15px
    }

    aside.read_next h3 {
        max-width: 80%
    }
}

@media only all and (min-width:1150px) {
    header#sidebar figure.logo {
        width: 200px;
        height: 200px
    }

    header#sidebar figure.logo a {
        top: 10px;
        left: 10px;
        width: 170px;
        height: 170px
    }

    section article.post p,section article.post li {
        font-size: 17px;
        line-height: 27px
    }

    article.post>p:nth-child(2) {
        font-size: 20px;
        line-height: 30px
    }
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait) {
    header#sidebar {
        width: 150px
    }

    section#river {
        position: absolute;
        right: 0;
        left: 200px;
        margin-left: 0
    }
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
    header#sidebar {
        width: 200px
    }

    section#river {
        position: absolute;
        right: 0;
        left: 250px;
        margin-left: 0
    }
}

@media only all and (max-width:750px),all and (device-width:768px) and (device-height:1024px) and (orientation:portrait),all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
    figure.kudo {
        float: none;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        margin-bottom: 50px;
        margin-top: 30px
    }

    figure.kudo div.filling {
        width: 60px;
        height: 60px;
        top: 4px;
        left: 4px
    }

    figure.kudo a {
        width: 68px;
        height: 68px;
        top: 5px
    }

    figure.kudo div.num {
        top: 0;
        left: 85px;
        font-size: 30px;
        line-height: 50px;
        text-align: left
    }

    figure.kudo div.txt {
        top: 44px;
        left: 85px;
        text-align: left;
        font-size: 14px;
        line-height: 14px
    }

    figure.kudo.activated div.txt {
        top: 16px;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0;
        text-align: left;
        font-weight: 700;
        min-width: 200px;
        text-transform: none
    }
}

ul#user_nav li.icons a {
    padding-left: 29px
}
